<template>
<div>


<v-snackbar
      v-model="snackbar"
      
      :top="top"
      :right="right"
      :color="mausac"
    >
      {{ text }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color=""
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  <v-data-table
    :headers="headers"
    :items="desserts"
    sort-by="calories"
    class="elevation-1"
  >

          

        <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Order Manage</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        
        <v-dialog v-model="dialog" max-width="1000px">
         
          <v-card>
             <div id="printMe">
            <v-card-title>
              <span class="headline">Product Deatail</span>
            </v-card-title>
           <br>
            <v-card-title>
              <span class="text-md-body-1">Name Customer : {{printData.name}}</span>
            </v-card-title>
         
             <v-card-title>
              <span class="text-md-body-1">Phone Number : {{printData.phone}}</span>
            </v-card-title>
           
            <v-card-title>
              <span class="text-md-body-1">Address : {{printData.address}}</span>
            </v-card-title>

            <v-card-title>
              <span class="text-md-body-1">Note : {{printData.note}}</span>
            </v-card-title>
        
            <v-card-title>
              <span class="text-md-body-1">Time Create : {{printData.time}}</span>
            </v-card-title>
            <br>
            <v-card-text>
          
              
                 <template>
                  <v-data-table
                    :headers="orderProduct"
                    :items="productData"
                    hide-default-footer
                    class="elevation-1"

                    
                  >
                  <template v-slot:item.image="{ item }">
                                <div class="p-2">
                                  <img :src="item.image" :alt="item.name" width="50" height="50">
                                </div>
                    </template>

                    <template v-slot:item.price="{item}">
            {{formatPrice(item.price)}}
              </template>

                    <template v-slot:item.total="{item}">
          {{formatPrice(item.total)}}
              </template>
                  </v-data-table>
                </template>
               
              
            </v-card-text>
  </div>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="print">Print Invoice</v-btn>
              <v-btn color="blue darken-1" text @click="close">Close</v-btn>
              
            </v-card-actions>
          </v-card>
               
        </v-dialog>
  
      </v-toolbar>
    </template>
    
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-check
      </v-icon>

      <v-icon
      class="mr-2"
        small
        @click="deleteItem(item)"
      >
        mdi-close-circle-outline
      </v-icon>

      <v-icon
        small
        @click="overView(item)"
      >

        mdi-equal-box
      </v-icon>

     
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize">Reset</v-btn>
    </template>
     <template v-slot:item.status="{ item }">
      <v-chip :color="getColor(item.status)" dark>{{ getStatus(item.status) }}</v-chip>
    </template>
    
  </v-data-table>

    <div class="text-center">
    <v-pagination
      v-model="page"
      :length="length"
      @input="changePage"
    ></v-pagination>
  </div>
  </div>
</template>

<script>
  export default {
    data: () => ({
    output: null,
    length:5,
    page:1,
    dialog : false,
    snackbar: false,
      text: 'Lorem ipsum dolor sit amet',
      top:true,
      right:true,
      mausac:'',

      printData:{
        name:'ken dep trai',
        phone:'0905332684',
        address:'tay thuan',
        note:'',
        time:'123'
      },

      headers: [
        {
          text: '#ID',
          align: 'start',
     
          value: 'id',
        },
        { text: 'User Name', value: 'name' },
        { text: 'Phone Number', value: 'phone' },
        { text: 'Status', value: 'status' },
        { text: 'Time', value: 'created_at' },
        
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      orderProduct:[
        {text:'#ID Product',value:'id'},
        {text:'Product Name',value:'name'},
        {text:'Product Image',value:'image'},
        {text:'Amount',value:'qty'},
        {text:'Size',value:'size'},
        {text:'Price',value:'price'},
        {text:'Total',value:'total'},
      ],
      productData:[],
      desserts: [],
      
      editedIndex: -1,
      editedItem: {
        name: '',
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0,
      },
      defaultItem: {
        name: '',
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0,
      },
    }),

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
      this.getAllOder()
    },

    methods: {
      initialize () {
        this.desserts = [
         
        ]
      },
      print(){
        this.$htmlToPaper('printMe');
        console.log('OK');
      },
      changePage(page){
        this.getAllOder(page);
      },
      getAllOder(page = 1){
          this.$axios.get(`orders?page=${page}`).then((res)=>{
         //     console.log(res);
              this.length = res.data.data.last_page;
              this.desserts = res.data.data.data;
              
          });
      },

      editItem (item) {
          var self = this;
        this.$axios.put(`orders/${item.id}`,{
            status:1
        }).then((res)=>{
            if(res.data.status==true){
                self.mausac="success"
                self.text ="Order has been Approval !"
                self.snackbar = true
            }
        });
      },

      deleteItem (item) {
          var self = this;
        this.$axios.put(`orders/${item.id}`,{
            status:2
        }).then((res)=>{
            if(res.data.status==true){
                self.mausac="success"
                self.text ="Order has been Cancel !"
                self.snackbar = true
            }
        });
      },
      overView(item){
        this.printData.name = item.name;
        this.printData.phone = item.phone;
        this.printData.address=item.address;
        this.printData.note = item.note;
        this.printData.time = item.created_at;
         this.$axios.get(`orders/${item.id}`).then((res)=>{
            this.productData = res.data.data ;
        });

        this.dialog = true;
      },



      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)
        } else {
          this.desserts.push(this.editedItem)
        }
        this.close()
      },
      getColor (status) {
        if (status == 0 ) return 'orange'
        else if (status ==  2) return 'red'
        else return 'green'
      },
      getStatus (status) {
        if (status == 0 ) return 'Waiting for approval'
        else if (status ==  2) return 'Cancel'
        else return 'Approval'
      },
        formatPrice(value) {
        
        let val = (value/1).toFixed(2).replace('.', ',')
    
        let total =  val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        return total.substring(0,total.length-3);
    }
    },
  }
</script>