<template>
    <div></div>
</template>

<script>


export default {


  mounted(){

    this.logout()
           
    
  },
  data: () => ({
   
  }),
  methods:{
    logout(){
              try {
              localStorage.removeItem('access_token');
                 this.$axios.post('logout').then((res)=>{
                      this.$router.push({name:'login'});
                      this.$router.go();
                      console.log(res);
                  })
        
      } catch (error) {
        console.log('catch');
        localStorage.removeItem('access_token');
        this.$router.push({name:'login'});
                      this.$router.go();
      }
    }
  }
};
</script>
