<template>
  <div>
<v-container>
      <v-row>

      <v-col cols="12" md="4">
                      <template>
                        <v-row justify="center">
                            <v-date-picker v-model="picker"></v-date-picker>
                        </v-row>
                        </template>
        </v-col>


          <v-col cols="12" md="4">
                      <template>
                        <v-row justify="center">
                            <v-date-picker v-model="picker2"></v-date-picker>
                        </v-row>
                        </template>
        </v-col>

            <v-col cols="12" md="4">
                     <v-btn
                        
                        color="success"
                        class="mr-4"
                        @click="submitForm"
                    >
                        Checking Here
                    </v-btn>
        </v-col>
         </v-row>
    </v-container>

<template>
  <v-data-table
    :headers="headers"
    :items="desserts"
    hide-default-footer
    class="elevation-1"
  >
  <template v-slot:item.total="{item}">
           {{formatPrice(item.total)}} VNĐ 
</template>
  
  </v-data-table>
</template>

  </div>
</template>

<script>
  export default {
    data () {
      return {
        picker: new Date().toISOString().substr(0, 10),
        picker2: new Date().toISOString().substr(0, 10),


        headers: [
          {
            text: 'Total of Orders',
            align: 'center',
            sortable: false,
            value: 'orders',
          },
          { text: 'Total Income', value: 'total' },
          { text: 'Day Start', value: 'begin' },
          { text: 'Day End', value: 'after' },
        
        ],
        desserts:[{
          
          orders:'',
          total:'',
          begin:'',
          after:''

        }
        ],
      }
      
    },
    methods:{
        submitForm(){
           
            console.log(this.addDays(this.picker2,1));
           
            this.$axios.post('statistical',{
                begin:this.picker,
                after:this.addDays(this.picker2,1)
            }).then((res)=>{
                this.desserts = res.data.data;
                this.desserts[0].begin = this.picker;
                this.desserts[0].after = this.picker2;
              
            });
           
        },
        addDays(date, days) {
        var result = new Date(date);
        result.setDate(result.getDate() + days);
        return result.toISOString().substr(0, 10);
        },
    formatPrice(value) {
        
        let val = (value/1).toFixed(2).replace('.', ',')
    
        let total =  val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        return total.substring(0,total.length-3);
    }
    }
  }
</script>